@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215.3 20% 95%;
    --foreground: 215.3 5% 10%;
    --card: 215.3 20% 90%;
    --card-foreground: 215.3 5% 15%;
    --popover: 215.3 20% 95%;
    --popover-foreground: 215.3 95% 10%;
    --primary: 215.3 19.3% 34.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215.3 20% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 177.3 20% 85%;
    --muted-foreground: 215.3 5% 40%;
    --accent: 177.3 20% 80%;
    --accent-foreground: 215.3 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 215.3 5% 90%;
    --border: 215.3 20% 68%;
    --input: 215.3 20% 50%;
    --ring: 215.3 19.3% 34.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215.3 20% 10%;
    --foreground: 215.3 5% 90%;
    --card: 215.3 20% 10%;
    --card-foreground: 215.3 5% 90%;
    --popover: 215.3 20% 5%;
    --popover-foreground: 215.3 5% 90%;
    --primary: 215.3 19.3% 34.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215.3 20% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 177.3 20% 25%;
    --muted-foreground: 215.3 5% 65%;
    --accent: 177.3 20% 25%;
    --accent-foreground: 215.3 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 215.3 5% 90%;
    --border: 215.3 20% 50%;
    --input: 215.3 20% 50%;
    --ring: 215.3 19.3% 34.5%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
